*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: whitesmoke;
  background: rgb(37, 37, 37);
  font: 14px/1.4 Arial;
}
a{
  text-decoration: none;
}
.link-router{
  color: whitesmoke;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  font-size: 1.4rem;
}
.header-todo{
  text-align: center;
  padding: 10px;
  background: rgb(74, 2, 168);
}
.header-todo h1{
  font-size: 2.1rem;
  font-weight: 900;
}
.form-add-Todo{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.form-add-Todo input{
  font-size: 1.3rem;
  border: none;
  padding: 10px;
  background: #4d4d4d;
  color: whitesmoke;
}
.form-add-Todo input:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 10;
}
.form-add-Todo input:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #292929;
  font-weight: 700;
  text-transform: uppercase;
  flex: 1;
}
.form-add-Todo input:last-child:hover{
  transition: .8s;
  background: #6b6b6b;
}
.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  background: rgb(65, 65, 65);
}
.todo-item input{
  margin: 0 10px 0 0;
}
.todo-item button{
  background: none;
  border: none;
}
.todo-done{
  text-decoration: line-through;
  color: rgb(133, 133, 133);
}
.todo-inProgress{
  color: rgb(0, 255, 136);
}
.todo-icon{
  font-size: 2rem;
  color: rgb(252, 39, 1);
}
.todo-icon:hover{
  cursor: pointer;
  transition: ease .8s;
  color: rgb(255, 0, 0);
}